body{
    margin: 0px;
    overflow-y: hidden;
   background-color: black;
}
#grid_container{
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 1px;
    background-color: grey;
    height:100%;
    }

div#grid_container>* {
    border: 2px solid rgb(19, 19, 13);
    max-width: 100%;
    width: 50vw;
    height: 20vw;
    object-fit:cover;
  }
 div#grid_container>*:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
} 
  @media (max-width: 768px) {
    #grid_container{
        grid-template-columns: repeat(1, 1fr);
     }
     div#grid_container>*{
        width: 100vw;
        height: 60vw;
     }  
    }
     @media only screen and (max-width: 1220px) and (min-width: 769px)  {
        div#grid_container>*{
            height: 37vw;
         }  

     }   
  
  #ship{
      background-image: url("dark window final render.png");
      height: 200vh;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;      
      z-index: 1; 
    } 

#main_img{
       background-image: url("mars.jpg"); 
       height: 200vh; 
       background-size: cover;
       position:relative;
       background-position: center;
       background-attachment: fixed;
       z-index: -1;
       top: -75vh;
       transform: scaleX(1);
       
}

#search_bar{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 4;
    top: 75vh;
    flex-wrap: wrap;
  } 
#search_bar input:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    
}
#search_bar>*{
    border: 1.5px solid black;
    box-shadow: 1px -1px 0px 0px rgb(0, 0, 0);
    background-color: rgb(212, 206, 206);
    margin: 0.05%;
    border-right: none;
}
#submit:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    
}
#range_slider{
    position: relative;
    z-index: 5;
    top: 85vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#slider:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    
}
#slider_after{
    font-size: 1.4rem;
    color: rgb(230, 227, 227);
    margin: 0.5%;
    width: 8vw;
    
}  


